
body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom,#222, #fff);
  color: #fff;
  font-family: "Titillium Web";
}

* {
  box-sizing: border-box;
}

.container {
  margin: 170px 10px 0 10px;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
  height: 500px;
  width: 1000px;
  position: relative;
}

h1 {
  font-weight: 400;
  font-size: 130px;
  text-transform: uppercase;
  line-height: 1.2;
  color:#fff;
  margin-top: 10px;
  
}

.inputs {
  width: 900px;
  height: 400px;
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}

.shortUrlNone {
  display: none;
}

.shortUrlContent {
  display: contents; 
  
}

input {
  margin: 10px 10px 0 0;
  width: 650px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  padding: 0 10px;
  font-size: 17px;
  font-style: italic;
}

button {
  margin: 10px auto;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 0;
  padding: 0 10px;  
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  background-color: #33CC66;
  color: #fff;
  cursor: pointer;
}

button:active {
  background-color: #259c4d;
}

/* ============ Media ===========*/

@media (max-width: 1000px) {
    .container {
      margin-top: 120px;
      width: 850px;
    }

    .inputs {
      width: 750px;
    }

    h1 {
      font-size: 100px;
      margin-bottom: 100px;
    }

    input {
      width: 550px;
    }
}

@media (max-width: 800px) {
  .container {
    margin-top: 100px;
    width: 700px;
  }

  .inputs {
    width: 650px;
  }

  h1 {
    font-size: 90px;
    margin-bottom: 150px;
  }

  input {
    width: 450px;
  }
}

@media (max-width: 670px) {
  .container {
    margin-top: 10px;
    width: 550px;
    height: 350px;
  }

  .inputs {
    width: 500px;
    height: 300px;
  }

  h1 {
    font-size: 65px;
    margin-bottom: 35px;
  }

  input {
    margin-right: 0;
    width: 400px;
    height: 30px;
  }

  button {
    margin-left: 290px;
    height: 30px;
    width: 110px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 370px;
  }

  .inputs {
    width: 320px;
  }

  h1 {
    font-size: 55px;
  }

  input {
    width: 320px;
  }

  button {
    margin-left: 210px;
  }
}

@media (max-width: 355px) {
  .container {
    width: 310px;
  }

  .inputs {
    width: 300px;
  }

  h1 {
    font-size: 50px;
  }

  input {
    width: 280px;
  }

  button {
    margin-left: 170px;
  }
}