body {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #e8cbc0, #636fa4);
  color: white;
}

* {
  box-sizing: border-box;
}

.container {
  border-radius: 10px;
  text-align: center;
  background-color: #e8cbc0;
  padding: 10px;
  height: 500px;
  width: 45%;
}

h1 {
  font-weight: 400;
  font-size: 130px;
  text-transform: uppercase;
}

input {
  margin: 10px auto;
  margin-right: 10px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 0;
  padding: 0 10px;
}

button {
  margin: 10px auto;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 0;
  padding: 0 10px;  
  text-transform: uppercase;
  background-color: #33CC66;
  color: #fff;
  cursor: pointer;
}

